
{{ if and .Site.Params.location.latitude .Site.Params.location.longitude }}
<section id="location" class="no-padding">
    <div class="container">
        <div class="row">

            <!--{{ if .Site.Params.contact.phone }}-->
                <div class="
                col-lg-12 text-center">
                    <i class="fa fa-map-marker  fa-3x wow bounceIn"></i>
                    <address>
                        <a href="https://www.google.com/maps/place/1034+Central+Ave,+Albany,+NY+12205/@42.6853109,-73.7987577,17z/data=!3m1!4b1!4m5!3m4!1s0x89de0b0a3c24c771:0x4b41092e51b993ea!8m2!3d42.685307!4d-73.796569">
                            MACC Roofing <br>
                            1034 Central Avenue <br>
                            Albany, New York 12205
                        </a>
                    </address>
                </div>
            <!--{{ end }}-->
            <!--{{ if .Site.Params.contact.email }}-->
            <!--{{ end }}-->
        </div>
    </div>
    <div class="hidden">
        <input id="gmap-lat" value="{{ .Site.Params.location.latitude }}" />
        <input id="gmap-lng" value="{{ .Site.Params.location.longitude }}" />
    </div>
    <a href="https://www.google.com/maps?z=16&q={{ .Site.Params.location.latitude }},{{ .Site.Params.location.longitude }}&ll={{ .Site.Params.location.latitude }},{{ .Site.Params.location.longitude }}">
        <div id="map">
            &nbsp;
        </div>
    </a>
</section>
{{ end }}
